html {
  height: 100%;
}
body {
  background-color: lightpink;
  color: white;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

section {
  height: 100%;
}

.main_section {
  background-image: url("/images/background-hamster.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%;
  text-align: center;
  background-color: rgb(235, 159, 170);
  font-family: "Overpass", sans-serif;
  font-size: 80px;
  text-align: left;
}

.about_section {
  text-align: center;
  background-color: rgb(235, 159, 170);
  font-family: "Overpass", sans-serif;
  text-align: left;
  background-image: url(hamster.toys.jpg); 
}

.services_section {
  text-align: center;
  background-color: rgb(235, 159, 170);
  font-family: "Overpass", sans-serif;

  text-align: left;
}

.contact_section {
  text-align: center;
  background-color: rgb(235, 159, 170);
  font-family: "Overpass", sans-serif;

  text-align: left;
}

.content {
  padding-left: 100px;
  padding-top: 50px;
    font-size: 50px;
}

p {
  font-size: 30px;
  padding: 0 20px;
  font-weight: 250;
}

h1 {
  font-family: "Overpass", sans-serif;
  font-size: 100px;
  line-height: 90px;
  font-weight: 900;
  font-style: normal;
  text-align: right;
  padding-right: 50px;
  font-weight: 300;
}

h2 {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  text-align: right;
  font-size: xx-large;
  padding-right: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff62;
  font-size: 50px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 25px;
  padding-left: 25px;
}

/* Change the link color to  #ffffff62 (black) on hover */
li a:hover {
  background-color: #ffffff62;
}

@media (max-width: 600px) {
  ul {
    font-size: 20px;
  }

  h1 {
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    padding-right: 15px;
  }

  h2 {
    font-family: "Overpass", sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    padding: 10px;
    padding-top:400px;
  }

  .content {
text-align: left;
    font-size: 50px;
  }
 

}
